DATABASE_URL="postgresql://pixel38:pixel38@localhost:5432/pixel38?schema=public"
DIRECT_URL="postgresql://pixel38:pixel38@localhost:5432/pixel38?schema=public"

JWT_ACCESS_SECRET="change-me-access-secret-min-32-characters"
JWT_REFRESH_SECRET="change-me-refresh-secret-min-32-characters"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

PORT=3001
